<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="LanguageTrId" value="1" />
		<add key="LanguageEnId" value="2" />
		<add key="DefaultWorkingLanguage" value="1" />
		<add key="UserFilesPath" value="~/FileManager" />
	</appSettings>
	<connectionStrings>
		<add name="EnrollPortalConnectionString" connectionString="server=home.enroll.com.tr;database=EnrollPortal;uid=sa;pwd=say98" providerName="System.Data.SqlClient" />
		<add name="EnrollPortalEntities"
			 connectionString="metadata=res://*/Kutuphaneler.DataModels.EnrollPortalModel.csdl|res://*/Kutuphaneler.DataModels.EnrollPortalModel.ssdl|res://*/Kutuphaneler.DataModels.EnrollPortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=home.enroll.com.tr;initial catalog=EnrollPortal;user id=sa;password=say98;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="1024000000" executionTimeout="3600" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Giris/Giris.aspx" timeout="2880" defaultUrl="~/Default.aspx" />
		</authentication>
		<customErrors mode="Off" />
		<httpHandlers>
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*"
				 validate="false" />
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*"
				 validate="false" />
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>
		<httpModules />
	</system.web>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow users="Member" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Portal">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow users="Member" />
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ChartImage_axd" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<remove name="Telerik_Web_UI_WebResource_axd" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx"
				 type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd"
				 type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd"
				 type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*"
				 preCondition="integratedMode" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx"
				 type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="603979776" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>