@charset "utf-8";
/* CSS Document */ /* aCC */
html, body { cursor: default !important; font-size: 12px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; background: #fff; color: #424242; margin:0; padding:0; }
#table { width: 100%; height: 100%; border: 0; }
ul, ol, dl, li { padding: 0; margin: 0; line-height: 150%; }
h1, h2, h3, h4, h5, h6, p { margin: 0px; padding: 0px; }
a img { border: none; }
a:link { color: #424242; text-decoration: none; }
a:visited { color: #424242; text-decoration: none; }
a:hover, a:active, a:focus { color: #8D2E42; }
.list { width: 100%; padding: 5px 10px; border-bottom: 1px #E6E6E6 solid; }
.listalternate { width: 100%; padding: 5px 10px; background-color: #f8f8f8; border-bottom: 1px #E6E6E6 solid; }
.habermansetdiv { padding: 0 5px; }
.habermansetdiv img { padding: 2px 0; float:left; margin-right:10px; }
.habermanset { color: #414958 !important; }
.habermanset:hover { color: #8D2E42 !important; }
.habermansetbaslik { padding-top: 4px; }
.habermansettarih { font-size: 10px; }
/* aCC Scroll */
::-webkit-scrollbar { width: 10px; height:10px; }
/* aCC Scroll İzle */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(113,112,107,0.1); -webkit-border-radius: 5px;  border-radius: 5px; }
/* aCC Scroll Tutma */
::-webkit-scrollbar-thumb { -webkit-border-radius: 5px; border-radius: 5px; background: rgba(113,112,107,0.5); -webkit-box-shadow: inset 0 0 6px rgba(113,112,107,0.1); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(113,112,107,0.1); }